# Exclude the PDF resume
final_danish_resume.pdf

# Exclude local environment files
.env
.env.*
!*.env.example
**/.env
**/.env.*
!**/.env.example

# Exclude dependencies and builds
**/node_modules/
**/dist/

# Exclude temp instruction files
links.txt
